input
{
    width: 50%;
    height:50px;
    border: none;
    border-bottom: 5px solid black;
    color: #0E1C36;
    background-color: #FFEDE1;
    align-items: center;
    margin-left: 20%;
    font-weight: bolder;
    font-size: larger;
}
button
{
    background-color: #0E1C36;
    color: #F9FBF2;
    width: 100px;
    height: 50px;
    font-family: jora;
    font-size: large;
    font-weight: bold;
    margin:5px;
}
