.picture
{
    display: inline-block;
}

.picture img
{
    width: 320px;
    height: 320px;
    margin-left: 50px;
}
.picture caption
{
    font-size: larger;
    font-weight: bolder;
    margin-left: 180px;
}